<div class="row">
  <div class="col s3 gray lighten-2">
    <div *ngIf="isLoginError" class="red-text center error-message">
      <i class="material-icons">error</i> Incorrect username or password
    </div>
    <h3>LogIn</h3>
    <form action="" method="POST">
      <input type="text" name="login" placeholder="Login" [(ngModel)]="user.login">
      <input type="text" name="password" placeholder="Password" [(ngModel)]="user.password">
      <input type="submit" value="Send" (click)="logIn()">
    </form>
    <i>
      <a routerLink="/registration">registration</a>
    </i>
  </div>
  <div class="col s9 green">

  </div>
</div>
